<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="title-block">
        <h1><span>Glossary</span></h1>
        <span>All glossary entries from the Jepson Manual can be found here</span>
      </div>
      <div class="glossary-text">
        <ul class="nav nav-tabs" rolse="tablist">
          <li role="presentation" class="active">
            <a href="#A" id="A" role="tab" data-toggle="tab" aria-controls="A">A</a>
          </li>
          <li role="presentation" class="active">
            <a href="#B" id="B" role="tab" data-toggle="tab" aria-controls="B">B</a>
          </li>
          <li role="presentation" class="active">
            <a href="#C" id="C" role="tab" data-toggle="tab" aria-controls="C">C</a>
          </li>
          <li role="presentation" class="active">
            <a href="#D" id="D" role="tab" data-toggle="tab" aria-controls="D">D</a>
          </li>
          <li role="presentation" class="active">
            <a href="#E" id="E" role="tab" data-toggle="tab" aria-controls="E">E</a>
          </li>
          <li role="presentation" class="active">
            <a href="#F" id="F" role="tab" data-toggle="tab" aria-controls="F">F</a>
          </li>
          <li role="presentation" class="active">
            <a href="#G" id="G" role="tab" data-toggle="tab" aria-controls="G">G</a>
          </li>
          <li role="presentation" class="active">
            <a href="#H" id="H" role="tab" data-toggle="tab" aria-controls="H">H</a>
          </li>
          <li role="presentation" class="active">
            <a href="#I" id="I" role="tab" data-toggle="tab" aria-controls="I">I</a>
          </li>
          <li role="presentation" class="active">
            <a href="#K" id="K" role="tab" data-toggle="tab" aria-controls="K">K</a>
          </li>
          <li role="presentation" class="active">
            <a href="#L" id="L" role="tab" data-toggle="tab" aria-controls="L">L</a>
          </li>
          <li role="presentation" class="active">
            <a href="#M" id="M" role="tab" data-toggle="tab" aria-controls="M">M</a>
          </li>
          <li role="presentation" class="active">
            <a href="#N" id="N" role="tab" data-toggle="tab" aria-controls="N">N</a>
          </li>
          <li role="presentation" class="active">
            <a href="#O" id="O" role="tab" data-toggle="tab" aria-controls="O">O</a>
          </li>
          <li role="presentation" class="active">
            <a href="#P" id="P" role="tab" data-toggle="tab" aria-controls="P">P</a>
          </li>
          <li role="presentation" class="active">
            <a href="#R" id="R" role="tab" data-toggle="tab" aria-controls="R">R</a>
          </li>
          <li role="presentation" class="active">
            <a href="#S" id="S" role="tab" data-toggle="tab" aria-controls="S">S</a>
          </li>
          <li role="presentation" class="active">
            <a href="#T" id="T" role="tab" data-toggle="tab" aria-controls="T">T</a>
          </li>
          <li role="presentation" class="active">
            <a href="#U" id="U" role="tab" data-toggle="tab" aria-controls="U">U</a>
          </li>
          <li role="presentation" class="active">
            <a href="#V" id="V" role="tab" data-toggle="tab" aria-controls="V">V</a>
          </li>
          <li role="presentation" class="active">
            <a href="#W" id="W" role="tab" data-toggle="tab" aria-controls="W">W</a>
          </li>

        </ul>
      </div><!-- closing the glossary-text div -->
      </div>
    </div>
  </section>
<div class="accordion accordion-bg clearfix">
      <% counter = 1 %>
      <% @glossaries.each do |glossary| %>
        <div class="col-md-4" id = <%= counter %>>
          <div class="acctitle acctitlec"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i><%= glossary.word %></div>
          <div class="acc_content clearfix" style="display: block;">
            <%= glossary.definition %>
          </div>
        </div>
        <% counter += 1 %>
      <% end %>
        </div>



