<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="title-block">
        <h1>Botanic <span>Search</span></h1>
      </div>

      <div class="col-md-12 bottommargin-sm">
        <form class="nobottommargin" action="" method="get" novalidate="novalidate">

          <div class="form-process"></div>

          <div class="col-md-6">
            <input type="text" name="q" value="" class="sm-form-control required" aria-required="true">
          </div>

          <div class="col-md-6">
            <button class="button button-3d nomargin" type="submit" value="submit">Search</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>

