<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">

      <div class="title-block">
        <h1><span><%= @genus.scientific_name %></span></h1>
        <span><%= @genus.common_name %></span>
      </div>

      
      
        Flower:
        <i class="icon-asterisk"></i> generally radial; hypanthium free or +- fused to ovary; petals 5, white, sometimes with yellow spots at base; stamens 10, filaments flat or variously inflated; pistils 1 (chambers 2, placentas 2, axile or occasionally proximally axile and distally marginal) or 2, ovary superior to +- inferior (sometimes more superior in fruit), styles free throughout



    </div>
  </div>
</section>