<h1><%= @family.scientific_name %></h1>
<h2><%= @family.common_name %></h2>
<!-- hr begins -->
<div class="row"><div class="medium-12 large-12 columns"><hr></div></div>
<!-- hr ends -->
<div>
  <!-- <ul> -->
    <% @family.description.split('. ').each do |attr| %>
      <p><%= attr %></p>
    <% end %>
  <!-- </ul> -->
</div>



<!-- sample url for testing: -->
<!-- families/56e6f0fec3b5a009e51bf425 -->