<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="title-block">
        <h1>About <span>Us</span></h1>
        <span>The team behind the project</span>
      </div>

      <div class="col-md-12 bottommargin-sm">





<div class="row clearfix">

            <div class="col-md-6 bottommargin">
              <div class="team team-list clearfix">
                <div class="team-image">
                  <img src="/assets/about-reuben.jpg" alt="Reuben">
                </div>
                <div class="team-desc">
                  <div class="team-title"><h4>Reuben</h4><span>Software Developer</span></div>
                  <div class="team-content">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 bottommargin">
              <div class="team team-list clearfix">
                <div class="team-image">
                  <img src="/assets/about-timur.jpg" alt="Timur Catakli">
                </div>
                <div class="team-desc">
                  <div class="team-title"><h4>Timur Catakli</h4><span>Front-End Engineer</span></div>
                  <div class="team-content">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 bottommargin">
              <div class="team team-list clearfix">
                <div class="team-image">
                  <img src="/assets/about-pete.jpg" alt="Dave">
                </div>
                <div class="team-desc">
                  <div class="team-title"><h4>Pete</h4><span>Software Developer</span></div>
                  <div class="team-content">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 bottommargin">
              <div class="team team-list clearfix">
                <div class="team-image">
                  <img src="/assets/about-dave.jpg" alt="Dave">
                </div>
                <div class="team-desc">
                  <div class="team-title"><h4>Dave</h4><span>Software Developer</span></div>
                  <div class="team-content">
                  </div>
                </div>
              </div>
            </div>

          </div>


























      </div>
  
    </div>
  </div>
</section>

