<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="title-block">
        <h1>About <span>Us</span></h1>
        <span>The team behind the project</span>
      </div>

      <div class="col-md-12 bottommargin-sm">





<div class="row clearfix">

            <div class="col-md-6 bottommargin">
              <div class="team team-list clearfix">
                <div class="team-image">
                  <img src="http://canvashtml-cdn.semicolonweb.com/images/team/3.jpg" alt="John Doe">
                </div>
                <div class="team-desc">
                  <div class="team-title"><h4>John Doe</h4><span>CEO</span></div>
                  <div class="team-content">
                    <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                  </div>
                  <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                  </a>
                  <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                    <i class="icon-twitter"></i>
                    <i class="icon-twitter"></i>
                  </a>
                  <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                    <i class="icon-gplus"></i>
                    <i class="icon-gplus"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-md-6 bottommargin">
              <div class="team team-list clearfix">
                <div class="team-image">
                  <img src="http://canvashtml-cdn.semicolonweb.com/images/team/2.jpg" alt="Josh Clark">
                </div>
                <div class="team-desc">
                  <div class="team-title"><h4>Josh Clark</h4><span>Co-Founder</span></div>
                  <div class="team-content">
                    <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                  </div>
                  <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                  </a>
                  <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                    <i class="icon-twitter"></i>
                    <i class="icon-twitter"></i>
                  </a>
                  <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                    <i class="icon-gplus"></i>
                    <i class="icon-gplus"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-md-6 bottommargin">
              <div class="team team-list clearfix">
                <div class="team-image">
                  <img src="http://canvashtml-cdn.semicolonweb.com/images/team/8.jpg" alt="Mary Jane">
                </div>
                <div class="team-desc">
                  <div class="team-title"><h4>Mary Jane</h4><span>Sales</span></div>
                  <div class="team-content">
                    <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                  </div>
                  <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                  </a>
                  <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                    <i class="icon-twitter"></i>
                    <i class="icon-twitter"></i>
                  </a>
                  <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                    <i class="icon-gplus"></i>
                    <i class="icon-gplus"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-md-6 bottommargin">
              <div class="team team-list clearfix">
                <div class="team-image">
                  <img src="http://canvashtml-cdn.semicolonweb.com/images/team/4.jpg" alt="Nix Maxwell">
                </div>
                <div class="team-desc">
                  <div class="team-title"><h4>Nix Maxwell</h4><span>Support</span></div>
                  <div class="team-content">
                    <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                  </div>
                  <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                  </a>
                  <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                    <i class="icon-twitter"></i>
                    <i class="icon-twitter"></i>
                  </a>
                  <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                    <i class="icon-gplus"></i>
                    <i class="icon-gplus"></i>
                  </a>
                </div>
              </div>
            </div>

          </div>


























      </div>
  
    </div>
  </div>
</section>

