<section id="content" style="margin-bottom: 0px;">

      <div class="content-wrap">

        <div class="container clearfix">
          <div class="col-md-6 bottommargin">
            <a href="#" class="thumbnail">
              <img alt="100%x180" src="/assets/team03.jpg" style="width: 100%; display: block;">
            </a>



          </div>

          <div class="col-md-6">

            <!-- Contact Info
            ============================================= -->
            <div class="col-md-12">

              <address>
                <div class="title-block">
                  <h1>Contact <span>Us</span></h1>
                  <span>Easiest way to contact us is either through Devbootcamp or via Social Media</span>
                </div>

                <strong>Devbootcamp:</strong><br>
                  633 Folsom Street (at Hawthorne)<br>
                  6th Floor<br>
                  San Francisco, CA 94107<br>
              </address>
              <abbr title="Phone Number"><strong>Phone:</strong></abbr>1.877-431-9044.<br>
              <abbr title="Email Address"><strong>Email:</strong></abbr> info@devbootcamp.com

            </div><!-- Contact Info End -->
          </div>

        </div>

      </div>

    </section>