<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div id="section-features" class="heading-block title-center page-section">
        <h4>Intuitive Jepson Manual functionality</h4>

        <span>Welcome to the RoBotanist. We believe anyone should be able to identify plants regardless of their botanical experience.  This website begins with the authoritative Jepson Manual of vascular plants, adds intuitive navigation, integrated glossary definitions, and  easily accessible web-tools to make this remarkable resource available to anyone.</span>
      </div>

      <div class="divider divider-rounded divider-center">
        <i class="icon-map-marker"></i>
      </div>

      <%= render partial: "layouts/carousel", locals: {options: @options} %>

      <div class="clearfix"></div>
      <div class="divider divider-rounded divider-center"><i class="icon-map-marker"></i></div>
    <%= render '/layouts/info_tabs' %>

       <%= render partial: 'layouts/info_tabs'%>
    </div>
  </div>
</section><!-- #content end -->
