<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div id="section-features" class="heading-block title-center page-section">
        <h2>Dichotomy Tree Start Here & Do Stuff</h2>

        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum rerum cumque nulla iure officia alias vero tempore consectetur laudantium nam error harum officiis, debitis rem consequuntur molestias, adipisci in eaque?</span>
      </div>

      <div class="divider divider-rounded divider-center">
        <i class="icon-map-marker"></i>
      </div>

      <%= render partial: "layouts/carousel", locals: {options: @options} %>

      <div class="clearfix"></div>
      <div class="divider divider-rounded divider-center"><i class="icon-map-marker"></i></div>

      <%= render partial: "layouts/info_tabs" %>

    </div>
  </div>
</section><!-- #content end -->
