<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div id="section-features" class="heading-block title-center page-section">
        <h2>Dichotomy Tree Start Here & Do Stuff</h2>

        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum rerum cumque nulla iure officia alias vero tempore consectetur laudantium nam error harum officiis, debitis rem consequuntur molestias, adipisci in eaque?</span>
      </div>

      <div class="divider divider-rounded divider-center">
        <i class="icon-map-marker"></i>
      </div>

      <%= render partial: "layouts/carousel", locals: {options: @options} %>
      
      <div class="clearfix"></div>
      <div class="divider divider-rounded divider-center"><i class="icon-map-marker"></i></div>

      
      <div class="col-md-6 nobottommargin">
        <div class="fancy-title title-double-border">
            <h3>Flickr <span>Plant Family Recognition</span> Feed</h3>
        </div>
        <div id="flickr-widget" class="flickr-feed masonry-thumbs" data-id="58729682@N00" data-count="8" data-type="group" data-lightbox="gallery"></div>
      </div>

      <div class="col-md-6 nobottommargin">
        <div class="fancy-title title-double-border">
            <h3>Jardim Botanico <span>Botanical</span> Garden</h3>
          </div>
        <div id="instagram-photos" class="instagram-photos masonry-thumbs col-4" data-user="1932176062" data-count="8" data-type="user"></div>

      </div>
    </div>
  </div>
</section><!-- #content end -->
