<div class="top-bar">
  <div class="row">
    <div class="top-bar-left">
      <ul class="menu" data-dropdown-menu>
        <li class="menu-text">Botanist Toolbelt</li>
        <li><a href="/">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button">Search</button></li>
      </ul>
    </div>
  </div>
</div>

<br>