<header id="header" class="full-header dark sticky-header">

  <div id="header-wrap">

    <div class="container clearfix">

      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <div id="logo">
        <a href="/" class="standard-logo" data-dark-logo="/assets/logo-dark.png"><img src="/assets/logo-dark.png" alt=""></a>
        <a href="/" class="retina-logo" data-dark-logo="/assets/logo-dark@2x.png"><img src="/assets/logo-dark@2x.png" alt="Botanist Toolbelt"></a>
      </div><!-- #logo end -->

      <nav id="primary-menu">
        <ul class="one-page-menu">
          <li class="current"><a href="/" data-href="#header"><div>Home</div></a></li>
          <li><a href="#" data-href="#section-features"><div>Family Keys</div></a></li>
          <li><a href="#" data-href="/glossary/"><div>Glossary</div></a></li>
          <li><a href="#" data-href="/search/"><div>Search</div></a></li>
          <li><a href="#" data-href="/about/"><div>About</div></a></li>
          <li><a href="#" data-href="/contact/"><div>Contact</div></a></li>
        </ul>
      </nav>



    </div>

  </div>

</header>