<footer id="footer" class="dark">
  <div id="copyrights">
    <div class="container clearfix">
      <div class="col_full center">
         RoBotanist has been created with permission from the Jepson Herbarium.<br>
        <b>Jepson Herbarium: Jepson Flora Project: Jepson eFlora http://ucjeps.berkeley.edu/eflora/</b> <br> &copy; 2016<br>
      </div>
    </div>
  </div>
</footer>

</div>
<div id="gotoTop" class="icon-angle-up"></div>
