<footer class="footer">
  <div class="row">
    <div class="small-12 columns">
      <p class="links">
        <a href="<%= root_path %>">Home</a>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
      </p>
      <p class="copywrite"> Made in San Francisco with <i class="fi-heart"></i> © 2016</p>
    </div>
  </div>
</footer>