<footer id="footer" class="dark">
  <div id="copyrights">
    <div class="container clearfix">
      <div class="col_full center">
        Made in San Francisco with <i class="icon-heart"></i> & <i class="icon-coffee"></i> <br> &copy; 2016<br>
      </div>
    </div>
  </div>
</footer>

</div>
<div id="gotoTop" class="icon-angle-up"></div>
