<div class="row column">
  <hr>
  <ul class="menu">
    <li>Botanist Toolbelt</li>
    <li><a href="<%= root_path %>">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
    <li> - Copyright 2016</li>
  </ul>
</div>