<header id="header" class="transparent-header page-section dark">
  <div id="header-wrap">
    <div class="container clearfix">
      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <div id="logo">
        <a href="/" class="standard-logo" data-dark-logo="/assets/logo-dark.png"><img src="/assets/logo.png" alt="Botanist Toolbelt"></a>
        <a href="/" class="retina-logo" data-dark-logo="/assets/logo-dark@2x.png"><img src="/assets/logo@2x.png" alt="Botanist Toolbelt"></a>
      </div>


      <nav id="primary-menu">
        <ul class="one-page-menu">
          <li class="current"><a href="/"><div>Home</div></a></li>
          <li><a href="#" data-href="#section-features"><div>Family Keys</div></a></li>
          <li><a href="/glossary/"><div>Glossary</div></a></li>
          <li><a href="/search/"><div>Search</div></a></li>
          <li><a href="/about/"><div>About</div></a></li>
          <li><a href="/contact/"><div>Contact</div></a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>


<section id="slider" class="slider-parallax full-screen dark" style="background: url(/assets/landing/static.jpg) center center no-repeat; background-size: cover">
  <div class="slider-parallax-inner">
    <div class="container vertical-middle clearfix">
      <div class="heading-block title-center nobottomborder">
        <h2> With Robotanist you can identify
          <div class="text-rotater" data-separator="|" data-rotate="bounceIn" data-speed="2500">
              <span class="t-rotate color">

              <% @species.each do |species| species.scientific_name  %>
              <%= species.scientific_name %> |
              <% end  %>!</span>
          </div>
        </h2>

      <div class="col-md-12 title-center row">
        <ul class="one-page-menu">
          <a href="#" data-href="#section-features" class="button button-3d button-teal button-xlarge nobottommargin">
          <i class="icon-star3"></i> Begin with Key to Families  <i class="icon-star3"></i></a> - OR -
        </ul>
        <div class="allmargin"></div>
      </div>

      <div class="col-md-4 center"></div>
      <div class="col-md-4 center">
      <form class="nobottommargin" action="/search" method="get" novalidate="novalidate">
        <div class="col-md-8">
          <input
            style="background-color: floralwhite; border-color: #1ABC9C; color: black;"
            type="text" name="q" value="" class="sm-form-control required" aria-required="true">
        </div>

        <div class="col-md-4">
          <button class="button button-3d nomargin" type="submit" value="submit">Search</button>
        </div>
      </form>
      <div class="allmargin"></div>
      </div>
      <div class="col-md-4 center"></div>

      <div class="col-md-12 row topmargin-lg">
        <div class="col-md-3 center"></div>
        <div class="col-md-6 center"><%= render partial: "layouts/counters" %></div>
        <div class="col-md-3 center"></div>
      </div>

    </div>
  </div>
</section>
